<form class="{{cssClass}}" autocomplete="off">
  {{! Sheet Header }}
  <header class="sheet-header flexrow">
    {{> "systems/owb/templates/actors/partials/vehicle-header.html"}}
  </header>

  {{! Sheet Tab Navigation }}
  <nav class="sheet-tabs tabs flexrow" data-group="primary">
    <a class="item" data-tab="attributes">
      {{localize "OWB.category.attributes"}}
    </a>
    <a class="item" data-tab="notes">
      {{localize "OWB.category.notes"}}
    </a>
  </nav>
  {{! Sheet Body }}
  <section class="sheet-body">
    {{! Attributes Tab }}
    <div class="tab" data-group="primary" data-tab="attributes">
      {{> "systems/owb/templates/actors/partials/vehicle-attributes-tab.html"}}
    </div>
    <div class="tab" data-group="primary" data-tab="notes">
      <div class="inventory">
        <div class="item-titles">{{localize "OWB.category.notes"}}</div>
        <div class="resizable-editor" data-editor-size="320">
          {{editor content=data.details.notes target="data.details.notes"
          button=true owner=owner editable=editable}}
        </div>
      </div>
    </div>
  </section>
</form>