<div autocomplete="off">
  <div class="actor header flexrow">
    {{#if user.isGM}}
    <div class="item-controls flexrow">
      <div class="item-control">
        <button type="button" data-action="selectActors" class="select-actors" title="{{localize 'OWB.dialog.selectActors'}}"><i class="fas fa-users"></i></button>
      </div>
    </div>
    {{/if}}
  </div>
  <ol class="actor-list">
    {{#each party as |e|}}
    <li class="actor flexrow" data-actor-id="{{e.id}}">
      <div class="field-img">
        <img src="{{e.img}}" class="profile actor-profile" />
        <div class="img-btns flexrow">
          <button type="button" data-action="open-sheet" data-actor-id="{{e.id}}"><i class="fas fa-user"></i></button>
        </div>
      </div>
      <div class="fields">
        <div class="flexrow field-row">
          <div title="{{e.name}}" class="field-name flex2">
            {{e.name}}
          </div>
          <div class="field-long" title="{{localize 'OWB.Health'}}">
            <i class="fas fa-heart"></i>
            {{e.system.hp.value}}/{{e.system.hp.max}}
          </div>
          <div class="field-short" title="{{localize 'OWB.ArmorClass'}}">
            <i class="fas fa-shield-alt"></i>
            {{#if @root.settings.ascending}}<strong>{{e.system.aac.value}}</strong>
            <sub>{{e.system.aac.base}}</sub>
            {{else}}<strong>{{e.system.ac.value}}</strong> <sub>{{e.system.ac.base}}</sub>
            {{/if}}
          </div>
        </div>
        <div class="flexrow field-row">
          {{#unless @root.settings.ascending}}
          <div class="field-short" title="{{localize 'OWB.Thac0'}}">
            <i class="fas fa-crosshairs"></i>
            {{e.system.thac0.value}}
          </div>
          {{else}}
          <div class="field-short" title="{{localize 'OWB.AB'}}">
            <i class="fas fa-crosshairs"></i>
            {{e.system.thac0.bba}}
          </div>
          {{/unless}}
          {{#if (eq e.type 'character')}}
          <div class="field-short" title="{{localize 'OWB.Melee'}}">
            <i class="fas fa-fist-raised"></i>
            {{add e.system.scores.str.mod e.system.thac0.mod.melee}}
          </div>
          <div class="field-short" title="{{localize 'OWB.Missile'}}">
            <i class="fas fa-bullseye"></i>
            {{add e.system.scores.dex.mod e.system.thac0.mod.missile}}
          </div>
          {{/if}}
          <div class="field-short flex2">
            <i class="fas fa-shoe-prints" title="{{localize 'OWB.movement.base'}}"></i>
            <span title="{{localize 'OWB.movement.encounter.long'}}">{{e.system.movement.encounter}}</span> <sub
              title="{{localize 'OWB.movement.exploration.long'}}">{{e.system.movement.base}}</sub>
          </div>
          {{#if (eq e.type 'character')}}
          <div class="field-short flex2">
            <i class="fas fa-weight-hanging" title="{{localize 'OWB.Encumbrance'}}"></i>
            {{roundWeight e.system.encumbrance.value}}k
          </div>
          {{/if}}
        </div>
        <div class="flexrow field-row">
          <div class="field-longer flexrow">
            {{#each e.system.saves as |s i|}}
            <span title="{{lookup @root.config.saves_long i}}">{{lookup @root.config.saves_short i}} {{s.value}}</span>
            {{/each}}
          </div>
        </div>
      </div>
    </li>
    {{/each}}
  </ol>
</div>
