<form autocomplete="off">
  <div class="attribute-bonuses">
    <label>{{localize 'OWB.scores.str.long'}}</label>
    <ol>
      <li>
        {{localize 'OWB.Melee'}} ({{mod system.scores.str.mod}})
      </li>
    </ol>
  </div>
  <div class="attribute-bonuses">
    <label>{{localize 'OWB.scores.int.long'}}</label>
    <ol>
      <li>
        {{localize 'OWB.FluentLanguages'}} {{mod system.languages.fluent}})
      </li>
      <li>
        {{localize 'OWB.BasicLanguages'}} ({{mod system.languages.basic}})
      </li>
    </ol>
  </div>
  <div class="attribute-bonuses">
    <label>{{localize 'OWB.scores.wis.long'}}</label>
    <ol>
      <li>
        {{localize 'OWB.saves.save.long'}} ({{mod system.scores.wis.mod}})
      </li>
    </ol>
  </div>
  <div class="attribute-bonuses">
    <label>{{localize 'OWB.scores.con.long'}}</label>
    <ol>
      <li>
        {{localize 'OWB.Health'}} ({{mod system.scores.con.mod}})
      </li>
    </ol>
  </div>
  <div class="attribute-bonuses">
    <label>{{localize 'OWB.scores.dex.long'}}</label>
    <ol>
      <li>
        {{localize 'OWB.Missile'}} ({{mod system.scores.dex.mod}})
      </li>
      <li>
        {{localize 'OWB.Initiative'}} ({{mod system.scores.dex.init}})
      </li>
      <li>
        {{localize 'OWB.ArmorClass'}} ({{mod system.scores.dex.mod}})
      </li>
    </ol>
  </div>
  <div class="attribute-bonuses">
    <label>{{localize 'OWB.scores.cha.long'}}</label>
    <ol>
      <li>
        {{localize 'OWB.Reaction'}} ({{mod system.scores.cha.npc}})
      </li>
      <li>
        {{localize 'OWB.Loyalty'}} ({{add system.scores.cha.mod 7}})
      </li>
    </ol>
  </div>
</form>