<div autocomplete="off" data-actor-id="{{actorId}}">
  <div class="form-group">
    <label>{{localize "OWB.InitiativeBonus"}}</label>
    <div class="form-fields">
      <input type="text" name="system.initiative.mod" id="initiative" value="{{system.initiative.mod}}"
        data-dtype="Number" />
    </div>
  </div>
  {{#if isCharacter}}
  <div class="form-group">
    <label>{{localize "OWB.details.experience.next"}}</label>
    <div class="form-fields">
      <input type="text" name="system.details.xp.next" id="experiencenext" value="{{system.details.xp.next}}" data-dtype="Number" />
    </div>
  </div>
  <div class="form-group">
    <label>{{localize "OWB.details.experience.bonus"}} (%)</label>
    <div class="form-fields">
      <input type="text" name="system.details.xp.bonus" id="experience" value="{{system.details.xp.bonus}}" data-dtype="Number"/>
    </div>
  </div>
  <div class="form-group">
    <label>{{localize "OWB.details.experience.share"}} (%)</label>
    <div class="form-fields">
      <input type="text" name="system.details.xp.share" id="experience-share" value="{{system.details.xp.share}}" data-dtype="Number"/>
    </div>
  </div>
  {{/if}}
  {{#unless isVehicle}}
  <div class="form-group">
    <label>{{localize "OWB.MeleeBonus"}}</label>
    <div class="form-fields">
      <input type="text" name="system.thac0.mod.melee" id="melee" value="{{system.thac0.mod.melee}}" data-dtype="Number" />
    </div>
  </div>
  <div class="form-group">
    <label>{{localize "OWB.MissileBonus"}}</label>
    <div class="form-fields">
      <input type="text" name="system.thac0.mod.missile" id="missile" value="{{system.thac0.mod.missile}}"
        data-dtype="Number" />
    </div>
  </div>
  <div class="form-group">
    <label>{{localize "OWB.ArmorClassBonus"}}</label>
    <div class="form-fields">
      {{#if config.ascendingAC}}
      <input type="text" name="system.aac.mod" id="ac" value="{{system.aac.mod}}"
        data-dtype="Number" />
      {{else}}
      <input type="text" name="system.ac.mod" id="ac" value="{{system.ac.mod}}"
        data-dtype="Number" />
        {{/if}}
    </div>
  </div>
  <div class="form-group">
    <label>{{localize "OWB.Encumbrance"}}</label>
    <div class="form-fields">
      <input type="text" name="system.encumbrance.max" id="encumbrance" value="{{system.encumbrance.max}}"
        data-dtype="Number" {{#unless user.isGM}}disabled{{/unless}} />
    </div>
  </div>
  <div class="form-group">
    <label for="movementAuto">{{localize "OWB.Setting.MovementAuto"}}</label>
    <div class="form-fields">
      <input type="checkbox" name="system.config.movementAuto" id="movementAuto" {{checked
          system.config.movementAuto}}  data-dtype="Boolean" {{#unless user.isGM}}disabled{{/unless}} />
    </div>
  </div>
  {{/unless}}
</div>