<nav class="sheet-tabs tabs actor" data-group="primary">
    <a class="item {{tabs.attributes.cssClass}}" data-tab="attributes" data-group="primary" data-action="tab">{{localize "OWB.category.attributes"}}</a>
    <a class="item {{tabs.notes.cssClass}}" data-tab="notes"  data-group="primary" data-action="tab">{{localize "OWB.category.notes"}}</a>
</nav>