<section class="notes-tab">
    <div class="inventory">
        <div class="flexrow">
            <div class="inventory abilities languages">
                <div class="item-titles flexrow">
                    <div class="item-name">{{localize "OWB.category.languages"}}</div>
                    <div class="item-controls">
                        {{#if owner}}
                        <a class="item-control item-push" data-array="languages" data-type="language" title="{{localize 'OWB.Add'}}">
                            <i class="fa fa-plus"></i>
                        </a>
                        {{/if}}
                    </div>
                </div>
                <ol>
                    {{#each languages as |lang|}}
                    <li class="item item-entry" data-lang="{{lang.name}}" data-item-id="{{lang._id}}">
                        <div class="item-name attribute item-rollable flexrow">
                            <div class="item-image" style="background-image: url({{lang.img}}); background-size: 32px; width: 32px"></div>
                            {{lang.name}} ({{lang.data.fluency}})
                        <div></div>
                        <div class="item-controls">
                            {{#if ../owner}}
                            <a class="item-control item-delete item-pop" data-array="languages" title="{{localize 'OWB.Delete'}}">
                                <i class="fa fa-trash"></i>
                            </a>
                            {{/if}}
                        </div>
                        </div>
                    </li>
                    {{/each}}
                </ol>
            </div>
            <div class="flex3 description">
                <div class="item-titles">{{localize "OWB.category.description"}}</div>
                <div>
                    {{editor content=data.details.description target="data.details.description"
                button=true owner=owner editable=editable}}
                </div>
            </div>
        </div>
    </div>
    <div class="inventory notes">
        <div class="item-titles">{{localize "OWB.category.notes"}}</div>
        <div class="resizable-editor" data-editor-size="140">
            {{editor content=data.details.notes target="data.details.notes"
            button=true owner=owner editable=editable}}
        </div>
    </div>
</section>