<section class="attributes-tab flexrow">
    {{!-- Scores --}}
    <div class="attribute-group">
        <div class="modifiers-btn">
            {{#unless isNew}}
            <a data-action="modifiers" title="{{localize 'OWB.Modifiers'}}"><i class="fas fa-book"></i></a>
            {{else}}
            <a data-action="generate-scores" title="{{localize 'OWB.dialog.generateScores'}}"><i class="fas fa-dice blinking"></i></a>
            {{/unless}}
        </div>
        <ul class="attributes">
            <li class="attribute ability-score" data-score="str">
                <h4 class="attribute-name box-title" title="{{ localize 'OWB.scores.str.long' }}">
                    <a>{{ localize "OWB.scores.str.short" }}</a>
                </h4>
                <div class="attribute-value">
                    <input name="data.scores.str.value" type="text" value="{{data.scores.str.value}}" placeholder="0"
                        data-dtype="Number" />
                </div>
            </li>
            <li class="attribute ability-score" data-score="int">
                <h4 class="attribute-name box-title" title="{{ localize 'OWB.scores.int.long' }}">
                    <a>{{ localize "OWB.scores.int.short" }}</a>
                </h4>
                <div class="attribute-value">
                    <input name="data.scores.int.value" type="text" value="{{data.scores.int.value}}" placeholder="0"
                        data-dtype="Number" />
                </div>
            </li>
            <li class="attribute ability-score" data-score="wis">
                <h4 class="attribute-name box-title" title="{{ localize 'OWB.scores.wis.long' }}">
                    <a>{{ localize "OWB.scores.wis.short" }}</a>
                </h4>
                <div class="attribute-value">
                    <input name="data.scores.wis.value" type="text" value="{{data.scores.wis.value}}" placeholder="0"
                        data-dtype="Number" />
                </div>
            </li>
            <li class="attribute ability-score" data-score="con">
                <h4 class="attribute-name box-title" title="{{ localize 'OWB.scores.con.long' }}">
                    <a>{{ localize "OWB.scores.con.short" }}</a>
                </h4>
                <div class="attribute-value">
                    <input name="data.scores.con.value" type="text" value="{{data.scores.con.value}}" placeholder="0"
                        data-dtype="Number" />
                </div>
            </li>
            <li class="attribute ability-score" data-score="dex">
                <h4 class="attribute-name box-title" title="{{ localize 'OWB.scores.dex.long' }}">
                    <a>{{ localize "OWB.scores.dex.short" }}</a>
                </h4>
                <div class="attribute-value">
                    <input name="data.scores.dex.value" type="text" value="{{data.scores.dex.value}}" placeholder="0"
                        data-dtype="Number" />
                </div>
            </li>
            <li class="attribute ability-score" data-score="cha">
                <h4 class="attribute-name box-title" title="{{ localize 'OWB.scores.cha.long' }}">
                    <a>{{ localize "OWB.scores.cha.short" }}</a>
                </h4>
                <div class="attribute-value">
                    <input name="data.scores.cha.value" type="text" value="{{data.scores.cha.value}}" placeholder="0"
                        data-dtype="Number" />
                </div>
            </li>
            {{#if data.retainer.enabled}}
            <li class="attribute ability-score" data-stat="lr">
                <h4 class="attribute-name box-title" title="{{ localize 'OWB.Loyalty' }}">
                    <a>{{ localize "OWB.LoyaltyShort" }}</a>
                </h4>
                <div class="attribute-value">
                    <input name="data.retainer.loyalty" type="text" value="{{data.retainer.loyalty}}" placeholder="0"
                        data-dtype="Number" />
                </div>
            </li>
            {{/if}}
        </ul>
    </div>
    {{!-- Resource Tracking --}}
    <div class="resources">
        <div class="flexrow">
            <div class="health">
                <input class="health-value health-top" name="data.hp.value" type="text" value="{{data.hp.value}}"
                    data-dtype="Number" placeholder="0" title="{{localize 'OWB.Health'}}" />
                <input class="health-value health-bottom" name="data.hp.max" type="text" value="{{data.hp.max}}"
                    data-dtype="Number" placeholder="0" title="{{localize 'OWB.HealthMax'}}" />
                <div class="health-empty" style="height:{{counter false data.hp.value data.hp.max}}%"></div>
                <div class="health-full" style="height:{{counter true data.hp.value data.hp.max}}%"></div>
            </div>
            <div class="health armor-class">
                {{#if config.ascendingAC}}
                <div class="health-value health-top" title="{{localize 'OWB.ArmorClass'}}">{{data.aac.value}}</div>
                <div class="health-value health-bottom" title="{{localize 'OWB.ArmorClassBase'}}">
                    {{data.aac.base}}</div>
                {{#if data.aac.shield}}<div class="shield" title="{{localize 'OWB.items.hasShield'}} ({{data.aac.shield}})"><i
                        class="fas fa-shield-alt"></i></div>{{/if}}
                {{else}}
                <div class="health-value health-top" title="{{localize 'OWB.ArmorClass'}}">{{data.ac.value}}</div>
                <div class="health-value health-bottom" title="{{localize 'OWB.ArmorClassBase'}}">
                    {{data.ac.base}}</div>
                    {{#if data.ac.shield}}<div class="shield" title="{{localize 'OWB.items.hasShield'}} ({{data.ac.shield}})"><i
                            class="fas fa-shield-alt"></i></div>{{/if}}
                {{/if}}
            </div>
            <div class="flexrow">
                <ul class="attributes flexrow">
                    <li class="attribute hit-dice">
                        <h4 class="attribute-name box-title" title="{{ localize 'OWB.BHB' }}">
                            <a>{{ localize "OWB.BHB" }}</a>
                        </h4>
                        <div class="attribute-value">
                            <div class="health-value health-top" title="{{localize 'OWB.BHB'}}">{{data.thac0.bhb}}</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="flexrow">
            <ul class="attributes flexrow">
                <li class="attribute hit-dice">
                    <h4 class="attribute-name box-title" title="{{ localize 'OWB.HitDice' }}">
                        <a>{{ localize "OWB.HitDiceShort" }}</a>
                    </h4>
                    <div class="attribute-value">
                        <input name="data.hp.hd" type="text" value="{{data.hp.hd}}" placeholder=""
                            data-dtype="String" />
                    </div>
                </li>
                {{#if config.initiative}}
                <li class="attribute">
                    <h4 class="attribute-name box-title" title="{{ localize 'OWB.Initiative' }}">
                        {{ localize "OWB.InitiativeShort" }}
                    </h4>
                    <div class="attribute-value"
                        title="{{localize 'OWB.scores.dex.long'}}({{data.scores.dex.init}}) + {{localize 'OWB.Modifier'}}({{data.initiative.mod}})">
                        {{add data.scores.dex.init data.initiative.mod}}
                    </div>
                </li>
                {{/if}}
            </ul>
        </div>
        <div class="flexrow">
            <ul class="attributes flexrow">
                <li class="attribute attribute-secondaries attack" data-attack="melee">
                    <h4 class="attribute-name box-title" title="{{localize 'OWB.Melee'}}">
                        <a>{{localize 'OWB.MeleeShort'}}</a>
                    </h4>
                    <div class="flexrow">
                        <div class="attribute-value"
                            title="{{localize 'OWB.scores.str.long'}}({{data.scores.str.mod}}) + {{localize 'OWB.Modifier'}}({{data.thac0.mod.melee}})">
                            {{add data.scores.str.mod data.thac0.mod.melee}}
                        </div>
                    </div>
                </li>
                {{#if config.ascendingAC}}
                <li class="attribute">
                    <h4 class="attribute-name box-title" title="{{ localize 'OWB.AB' }}">{{ localize "OWB.ABShort"}}
                    </h4>
                    <div class="flexrow">
                        <div class="attribute-value">
                            <input name="data.thac0.bba" type="text" value="{{data.thac0.bba}}" placeholder="0"
                                data-dtype="Number" />
                        </div>
                    </div>
                </li>
                {{/if}}
                <li class="attribute attribute-secondaries attack" data-attack="missile">
                    <h4 class="attribute-name box-title" title="{{localize 'OWB.Missile'}}">
                        <a>{{localize 'OWB.MissileShort'}}</a>
                    </h4>
                    <div class="flexrow">
                        <div class="attribute-value"
                            title="{{localize 'OWB.scores.dex.long'}}({{data.scores.dex.mod}}) + {{localize 'OWB.Modifier'}}({{data.thac0.mod.missile}})">
                            {{add data.scores.dex.mod data.thac0.mod.missile}}
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        <div class="flexrow">
            <ul class="attributes flexrow">
                <li class="attribute attribute-secondaries">
                    <h4 class="attribute-name box-title" title="{{localize 'OWB.movement.overland.long'}}">
                        {{localize 'OWB.movement.overland.short'}}
                    </h4>
                    <div class="flexrow">
                        <div class="attribute-value">
                            {{divide data.movement.base 5}}
                        </div>
                    </div>
                </li>
                <li class="attribute">
                    <h4 class="attribute-name box-title" title="{{ localize 'OWB.movement.exploration.long' }}">
                        {{ localize "OWB.movement.exploration.short" }}
                    </h4>
                    <div class="attribute-value flexrow">
                        <input name="data.movement.base" type="text" value="{{data.movement.base}}" placeholder="0"
                            data-dtype="Number" {{#if data.config.movementAuto}}disabled{{/if}} />
                    </div>
                </li>
                <li class="attribute attribute-secondaries">
                    <h4 class="attribute-name box-title" title="{{localize 'OWB.movement.encounter.long'}}">
                        {{localize 'OWB.movement.encounter.short'}}
                    </h4>
                    <div class="flexrow">
                        <div class="attribute-value">
                            {{divide data.movement.base 3}}
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    {{!-- Saving throws --}}
    <div class="attribute-group">
        <ul class="attributes">
            <li class="attribute saving-throw" data-save="save">
                <h4 class="attribute-name box-title">
                    <a>{{ localize "OWB.saves.save.long" }}</a>
                </h4>
                <div class="attribute-value">
                    <input name="data.saves.save.value" type="text" value="{{data.saves.save.value}}" placeholder="0"
                        data-dtype="Number" />
            </li>
        </ul>
    </div>
</section>