<img class="profile-img" src="{{img}}" data-edit="img" title="{{name}}" />
<section class="header-details flexrow">
  <h1 class="charname">
    <input name="name" type="text" value="{{name}}" placeholder="{{localize 'OWB.Name'}}" />
  </h1>
  <ul class="summary flexrow">
    <li class="flex2 check-field">
      <div>
        <input type="text" name="data.details.nationality" value="{{data.details.nationality}}" />
        <label>{{localize 'OWB.details.nationality'}}</label>
      </div>
      <div class="check reaction-check" title="{{localize 'OWB.roll.reaction'}}"><a><i class="fas fa-dice"></i></a></div>
    </li>
    <li class="flex2 check-field">
      <input type="text" name="data.details.rank" value="{{data.details.rank}}" data-dtype="Number" />
      <label>{{localize 'OWB.details.rank'}}</label>
    </li>
    {{#if config.morale}}
    <li class="flexrow check-field">
      <div>
        <input type="text" name="data.details.morale" value="{{data.details.morale}}" />
        <label>{{localize 'OWB.details.morale'}}</label>  
      </div>
      <div class="check morale-check" title="{{localize 'OWB.roll.morale'}}"><a><i class="fas fa-dice"></i></a></div>
    </li>
    {{/if}}
  </ul>
</section>