<section class="header-details flexrow">
  <img class="profile-img" src="{{actor.img}}" data-edit="img" data-action="onEditImage"  title="{{actor.name}}" />
  <div>
    <h1 class="charname">
      <input name="name" type="text" value="{{actor.name}}" placeholder="{{localize 'OWB.Name'}}" />
    </h1>
  </div>
</section>