<section class="owb game-license">
  <img src="/systems/owb/assets/OWBCL.webp">
  <p class="owb game-license">
    This unofficial system requires the WWII: Operation Whitebox Rules that
    you can find <a href="https://www.drivethrurpg.com/product/196284/OWB001-WWII-Operation-WhiteBox">here</a>.
  </p>
  <p>
    This third party product is not affiliated with Small Niche Games.
  </p>
  <p>
    WWII: Operation WhiteBox™ is a trademark of Peter C. Spahn.
  </p>
  <p>
    Small Niche Games™ is a trademark of Peter C. Spahn.
  </p>
  <p>
    Used with permission under license.
  </p>
  <div class="footer">
      Report your issues on <a href="https://github.com/chrisesharp/foundryvtt-owb/">GitHub</a>
  </div>
</section>
