<div class="owb game-license">
  <p class="owb game-license">
    This unofficial system requires the WWII: Operation Whitebox Rules that
    you can find <a href="https://www.drivethrurpg.com/product/196284/OWB001-WWII-Operation-WhiteBox">here</a>.
  </p>
  <p>
    WWII: Operation Whitebox is a trademark of Small Niche Games, the trademark is
    used with permission under license.
  </p>
  <div class="footer">
      Report your issues on <a href="https://github.com/chrisesharp/foundryvtt-owb/">GitHub</a>
  </div>
</div>
