<div class="owb chat-card item-card" data-actor-id="{{data.actor.id}}" data-item-id="{{data.item.id}}"
    {{#if tokenId}}data-token-id="{{tokenId}}" {{/if}}>
    <div class="owb chat-block">
        <div class="flexrow chat-header">
            <div class="chat-title">
                <h2>{{title}}</h2>
            </div>
            {{#if data.item}}
                {{#if data.roll.suppress}}
                    <div class="chat-img" style="background-image:url('{{@root.config.tag_images.suppressive}}')"></div>
                {{else if data.roll.burst}}
                    <div class="chat-img" style="background-image:url('{{@root.config.tag_images.burst}}')"></div>
                {{/if}}
                <div class="chat-img" style="background-image:url('{{data.item.img}}')"></div>
            {{else}}
            <div class="chat-img" style="background-image:url('{{data.img}}')"></div>
            {{/if}}
        </div>
        {{#if result.victim}}
        <div class="chat-target">
            vs {{result.victim}}
        </div>
        {{/if}}
        <div class="blindable" data-blind="{{data.roll.blindroll}}">
            <div class="chat-details">
                <div class="roll-result">{{{result.details}}}</div>
            </div>
            {{#if rollOWB}}<div>{{{rollOWB}}}</div>{{/if}}
            {{#if result.isSuccess}}
            <div class="chat-details">
                <div class="roll-result"><b>{{localize 'OWB.messages.InflictsDamage'}}</b></div>
            </div>
            <div class="damage-roll">{{{rollDamage}}}</div>
            {{#if data.roll.save}}
            <div class="card-buttons">
                <button data-action="save" data-save="{{data.roll.save}}" disabled>
                    {{localize "OWB.weapons.suppressive.long"}} {{localize "OWB.weapons.save"}}
                </button>
            </div>
            {{/if}}
            {{/if}}
        </div>
    </div>
</div>