<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img 
      class="profile-img" 
      src="{{item.img}}" 
      data-edit="img" 
      title="{{item.name}}"
      />
    <div class="header-col">
      <h1 class="charname">
        <input name="name" type="text" value="{{item.name}}" placeholder="Name" />
      </h1>
    </div>
  </header>
  <section class="sheet-body">
    <div class="flexrow">
      <div class="stats">
        <div class="form-group block-input">
          <label>{{localize 'OWB.abilities.Requirements'}}</label>
          <div class="form-fields">
            <input type="text" name="system.requirements" value="{{data.requirements}}" data-dtype="String" />
          </div>
        </div>
        <div class="form-group block-input">
          <label>{{localize 'OWB.items.Roll'}}</label>
          <div class="form-fields">
            <input type="text" name="system.roll" value="{{data.roll}}" data-dtype="String" />
          </div>
        </div>
        <div class="form-group">
          <label>{{localize 'OWB.items.RollType'}}</label> 
          <div class="form-fields">
            <select name="system.rollType">
              {{selectOptions config.roll_type inverted=true}}
            </select>
          </div>
        </div>
        <div class="form-group">
          <label>{{localize 'OWB.items.RollTarget'}}</label>
          <div class="form-fields">
            <input type="text" name="system.rollTarget" value="{{data.rollTarget}}" data-dtype="Number" />
          </div>
        </div>
        <div class="form-group">
          <label>{{localize 'OWB.items.BlindRoll'}}</label>
          <div class="form-fields">
            <input type="checkbox" name="system.blindroll" value="{{data.blindroll}}" {{checked data.blindroll}}  data-dtype="Number"/>
          </div>
        </div>
        <div class="form-group">
          <label>{{localize 'OWB.weapons.save'}}</label>
          <div class="form-fields">
            <select name="system.save">
              {{selectOptions config.saves_short inverted=true}}
            </select>
          </div>
        </div>
      </div>
      <div class="description">
        {{editor data.description target="system.description" button=true editable=editable}}
      </div>
    </div>
  </section>
</form>