<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img
      class="profile-img"
      src="{{item.img}}"
      data-edit="img"
      title="{{item.name}}"
      />
    <div class="header-col">
      <div class="flexrow">
        <h1 class="charname">
          <input
            name="name"
            type="text"
            value="{{item.name}}"
            placeholder="Name"
            />
        </h1>
        <div class="details">
          <div class="form-group">
            <label title="{{localize 'OWB.items.Weight'}}"><i class="fas
                fa-weight-hanging"></i></label>
            <div class="form-fields">
              <input
                type="text"
                name="data.weight"
                value="{{data.weight}}"
                data-dtype="Number"
                />
            </div>
          </div>
        </div>
      </div>
      <ol class="tag-list">
        {{#each data.tags as |tag|}}
        <li class="tag" title="{{tag.title}}" data-tag="{{tag.value}}">
          <span>{{tag.value}}</span>
          <a class="tag-delete"><i class="fas fa-times"></i></a>
        </li>
        {{/each}}
      </ol>
    </div>
  </header>
  <section class="sheet-body">
    <div class="flexrow">
      <div class="stats narrow">
        <div class="form-group">
          <div class="form-fields">
            <input
              type="text"
              data-action="add-tag"
              title="{{localize 'OWB.items.typeTag'}}"
              placeholder="{{localize 'OWB.items.enterTag'}}"
              />
          </div>
        </div>
        <div class="form-group block-input">
          <label>{{localize 'OWB.items.Damage'}}</label>
          <div class="form-fields">
            <input
              type="text"
              name="data.damage"
              value="{{data.damage}}"
              data-dtype="String"
              />
          </div>
        </div>
        <div class="form-group attack-type">
          <a title="{{localize 'OWB.items.Melee'}}" class="melee-toggle {{#if
            data.melee}}active{{/if}}"><i class="fas fa-fist-raised"></i></a>
          <a title="{{localize 'OWB.items.Missile'}}" class="missile-toggle
            {{#if data.missile}}active{{/if}}"><i class="fas fa-bullseye"></i></a>
        </div>
        {{#if data.missile}}
        <div class="form-group">
          <label title="{{localize 'OWB.weapons.ROF'}}">{{localize
            'OWB.weapons.ROF'}}</label>
          <div class="form-fields">
            <input
              type="text"
              name="data.counter.max"
              value="{{data.counter.max}}"
              data-dtype="Number"
              />
          </div>
        </div>
        <div class="form-group block-input">
          <label>{{localize 'OWB.items.Range'}}</label>
          <div class="form-fields range">
            <input
              type="text"
              name="data.range.short"
              value="{{data.range.short}}"
              data-dtype="Number"
              />
              <div class="sep"></div>
              <input
              type="text"
              name="data.range.medium"
              value="{{mult data.range.short 2}}"
              data-dtype="Number"
              />
              <div class="sep"></div>
              <input
              type="text"
              name="data.range.long"
              value="{{mult data.range.short 6}}"
              data-dtype="Number"
              />
              <div class="sep"></div>
              <input
              type="text"
              name="data.range.extreme"
              value="{{mult data.range.short 24}}"
              data-dtype="Number"
              />
          </div>
        </div>
        <!-- <div class="form-group">
          <label>{{localize 'OWB.weapons.burst.short'}}</label>
          <div class="form-fields">
            <input
              type="checkbox"
              name="data.burst"
              value="{{data.burst}}"
              {{checked data.burst}}
              data-dtype="Number"
              />
          </div>
        </div>
        <div class="form-group">
          <label>{{localize 'OWB.weapons.suppressive.short'}}</label>
          <div class="form-fields">
            <input
              type="checkbox"
              name="data.suppressive"
              value="{{data.suppressive}}"
              {{checked data.suppressive}}
              data-dtype="Number"
              />
          </div>
        </div> -->
        <div class="form-group">
          <label>{{localize 'OWB.weapons.save'}}</label>
          <div class="form-fields">
            <input
              type="checkbox"
              name="data.save"
              name="{{data.save}}"
              {{checked data.save}}
              data-dtype="Number"
              />
          </div>
        </div>
        {{/if}}
      </div>
      <div class="description weapon-editor">
        {{editor content=data.description target="data.description" button=true
        owner=owner editable=editable}}
      </div>
    </div>
  </section>
</form>
